.post_container {
  text-align: center;
}

.post_container h3 {
  margin-bottom: 0.2em;
}

.post_container .tags {
  display: flex;
  justify-content: center;
}

.tags p {
  margin-right: 1em;
}

.imagemPost {
  width: 40%;
}

.tags span {
  font-weight: bold;
}

.containerP {
  width: 50%;
  margin: auto;
}
